<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Section</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/subject.css')}}">
</head>

<body>
    <h2>Books Section</h2>
 <form action="/subject" method="POSt">
    <label for="sub_id">Subject Id:</label>
    <input type="text" id="sub_id" name="sub_id"  required>

    <label for="sub_name">Subject Name:</label>
    <input type="text" id="sub_name" name="sub_name" required>

    <label for="credit">Subject Credit:</label>
    <input type="number" name="credit" id="credit" required>

    <button type="submit" id="btn">Submit</button>

    <button onclick="window.location.href='/';" id="btn">Go to Home</button>
 </form>  
</body>
</html>